<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="flower" class="org.regeneration.bigstoreproject.Flower" />
    <bean id="candy" class="org.regeneration.bigstoreproject.Candy" />
    <bean id="candyStore" class="org.regeneration.bigstoreproject.Store">
        <constructor-arg type="Item" index="0" ref="candy"/>
    </bean>
    <bean id="flowerStore" class="org.regeneration.bigstoreproject.Store">
        <constructor-arg type="Item" index="0" ref="flower"/>
    </bean>

</beans>