<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Ggreedy Greeter project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<p th:text="'Geia, ' + ${name} + '!'" />
<p th:text="'Guten Tag, ' + ${name} + '!'" />
<p th:text="'Bonjour, ' + ${name} + '!'" />

<form method="get" th:action="@{''}" th:object="${form}">
Who to greet?
    <input class="form-control"
       type="text"
       th:value="${name}" id="name" name="name" />
    <input type="submit" value="Greedy Greet!">
</form>
</body>
</html>